.movieContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    background-color: whitesmoke;
    border-radius: 5px;
    border-width: 3px;
    border-style: outset;
    width: 90%;
    color: black;
    text-align: center;
}

.imgContainer {
    text-align: center;
}